
/* new css */

.heroImg {
  width:400px;
  height:auto ;
}
/* new css end */







.wapper {
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-items: center;
}

.accordation {
  width: 500px;
}

.item {
  background: #f0ebe1;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  /* color: #85662b; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.content {
  /* color: #8b7f75; */
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

/* Navbar */
.btm2 {
  background: #e9c46a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132.69%;
  /* identical to box height, or 27px */
  justify-content: end;
  color: #252525;
  border-radius: 6px;
  border: none;
  padding: 15px;
}

/* .button {
  background: #e9c46a;
  border-radius: 6px;
  color: #252525;
  font-family: "Poppins";
} */


/* .cardBox_size {
  height: 547px;
  width: 420px;
} */
/* .button:hover {
  background: #e9c46a;
  color: #252525;
} */

/* .button:hover {
  background: #e9c46a;
  line-height: 132.69%;
  /* identical to box height, or 27px */
/* justify-content: end; */
/* color: #252525;
  border-radius: 6px;
  border: none;
  padding: 15px;
} */

.navitem {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #232323;
  margin-right: 41px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.toggleImage {
  background-image: var(--bs-navbar-toggler-icon-bg) !important;
  background-repeat: no-repeat;
}

/* .navbar-toggler {
  color: black !important;
} */

/* Hero */

.h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 116.5%;
  /* color: #252525; */
}

.h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 116.5%;
  /* or 58px */
  color: #252525;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  margin-top: 13px;
  margin-bottom: 42px;
}
.h1Extra {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 116.5%;
  /* or 58px */
  color: #252525;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  margin-top: 13px;
  /* margin-bottom: 42px; */
}

.p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* or 33px */
  color: #414141;
}

.btnn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132.69%;
  /* identical to box height, or 27px */
  color: #252525;
  /* background: #E9C46A; */
  border-radius: 6px;
  text-transform: capitalize;
}

/* Services */

.svccard {
  background: #1d1d1d;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-top: 80px;
  /* width: 850px;
  height: 360px; */
}

.ds {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 600;
  font-size: 56px;
  line-height: 116.5%;
  /* or 65px */
  color: #e9c46a;
}

.h1font {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 116.5%;
  /* or 65px */
  color: #ffffff;
  margin-left: 50px;
  margin-bottom: 48px;
  padding-top: 60px;
}

.svccard2 {
  background: #ffffff;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  margin-top: 80px;
  /* width: 400px;
  height: 359.05px; */
}

.svccard3 {
  background: #ffffff;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  /* margin-top: 80px; */
  /* width: 400px;
  height: 359.05px; */
}

.circle {
  margin-left: 40px;
  margin-top: 43px;
}

.ipic {
  position: relative;
  left: -40px;
  top: 40px;
}

.h6 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 132.69%;
  /* identical to box height, or 32px */
  text-transform: capitalize;
  color: #252525;
  margin-left: 40px;
  padding-top: 84px;
}

.cardP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 132.69%;
  /* or 27px */
  color: #414141;
  margin: 16px 15px 46px 40px;
  padding-bottom: 40px;
}

/* Section Header */

.secHeader {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 116.5%;
  /* or 58px */
  padding-top: 100px;
  padding-bottom: 60px;
  color: #252525;
  align-items: center;
}
.course_time {
  color: #aeaeae;
  font-family: "Poppins";
  font-style: Medium;
  font-weight: 500;
  font-size: 18px;
  line-height: 23.88px;
  /* or 58px */
  padding-top: 9px;
  padding-bottom: 7.5px;
  /* align-items: center; */
}
.titleHeader {
  font-family: "Raleway";
  font-style: semi-bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.84px;
  /* or 58px */
  margin-bottom: 8.63px;
  color: #252525;
  flex: start;
}
.starting_date {
  /* color: #e76f51; */
  margin-bottom: 64.42px;
  font-family: "Poppins";
  font-style: Medium;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.88px;
}
.cart {
  background-color: #ffffff;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 6px 6px 0 0;
  padding: 17.37px 17.37px 0px 17.37px;
  /* margin: 17.37px 17.37px 0px 17.37px; */
}
.cart_lastPadding {
  /* padding-left: 17.37px; */
  /* margin-bottom: 30px; */
  /* padding-top: 60px; */
  margin-top: 4rem;
}

.price {
  font-family: "Poppins";
  font-style: SemiBold;
  font-weight: 600;
  font-size: 36px;
  line-height: 132.69%;
  color: #252525;
}

.paragraph_solution {
  margin-bottom: 0rem !important;
}
.Enroll_button {
  /* margin-top: 30px; */
  /* background-color: #e9c46a; */
  color:white ;
  padding-top: 15px;
  padding-bottom: 15.37px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #252525;
  cursor: pointer;
  border-radius: 0px 0px 6px 6px;
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  font-family: "Poppins";
  font-style: SemiBold;
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
}

/* Career */

.h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 132.69%;
  /* or 40px */
  text-transform: capitalize;
  color: #252525;
}

.careerTime {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 132.69%;
  /* or 29px */
  color: #e76f51;
}

.pfs24 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 132.69%;
  /* identical to box height, or 32px */
  color: #252525;
}

.offer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 132.69%;
  /* identical to box height, or 27px */
  text-decoration-line: line-through;
  color: #aeaeae;
  text-align: end;
  margin-top: 48px;
  margin-right: 39px;
  margin-bottom: -5px;
}

.priceCareer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 46px;
  line-height: 132.69%;
  /* identical to box height, or 61px */
  color: #1d1d1d;
  text-align: end;
  margin-right: 39px;
  margin-bottom: 30px;
}

.btn {
  background: #e9c46a;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 132.69%;
  /* identical to box height, or 27px */
  justify-content: end;
  color: #252525;
  border-radius: 6px;
  border: none;
  padding: 15px;
  align-self: end;
}

/* Footer */

.footerH3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 46px;
}

.foterH4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  color: #e9c46a;
}

.footerIcon {
  margin-right: 24px;
}

.footerH1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #e9c46a;
}

.footerP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150.19%;
  /* or 30px */
  color: #ffffff !important;
}

.footerlink {
  text-decoration: none;
  color: #ffffff !important;
}

.footerlink :hover {
  color: #b2beb5 !important;
}

/* slider Container */

.slider_container {
  background-color: #1d1d1d;
  padding-left: 30px;
  padding-right: 17px;
  /* padding-bottom: 40.54px; */
  box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
  position: relative;
  margin-top: 100.63px;
  /* display: none; */
}
.slider_left {
  /* padding: 10px; */
  /* padding-top: 89px; */
}
/* .slider_right {
  padding-top: 71px;
  padding-left: 65.1px;
  padding-bottom: 66px;
} */
.headerSlider_Component {
  display: flex;
  gap: 100px;
  padding: 68px;
}
.span_text {
  color: #f8c365;
}
.span_heading_text {
  font-family: "Raleway";
  font-style: sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 47.77px;
  /* or 30px */
  color: #ffffff;
  text-align: left;
}
.slider_paragraph {
  padding-top: 44px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  padding-right: 73px;
  text-align: left;
}
.active {
  display: block;
}
.singleContainer {
  display: none;
}

/* FAQ */

.faqH5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
  color: #1d1d1d;
  margin-left: 48px;
  margin-right: 48px;
  /* margin-top: 32px; */
  /* background: #FFFFFF; */
}

.faqP {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */
  color: #373737;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 32px;
  margin-top: 15px;
}

.items {
  padding: 32px, 48px 32px, 48px;
  /* color: #FFFFFF !important; */
}

.accordion-button:not(.collapsed) {
  color: #ffffff !important;
  /* box-shadow: 4px 4px 20px 2px rgba(0, 0, 0, 0.08);
  border-radius: 16px; */
}

.accordionButton {
  margin-bottom: 30px !important;
}
